<h1>Editing Bathroom</h1>

<%= form_for @bathroom, :url => bathroom_url(@bathroom.id),:html => {:multipart => true} do |f| %>
    <%= f.error_messages %>

    <h3>Basic Information</h3>
    <%= f.label :title %><br />
    <%= f.label @bathroom.title %><br />
    <br/>

    <%= f.label :gender %><br />
    <%= select("bathroom", "gender", %w[Male Female], {}, {:include_blank => true}) %><br />
    <br/>

    <%= f.label :description %><br />
    <%= f.text_area :description %><br />

    <h3>Address</h3>
    <%= f.fields_for :address do |a| %>
        <%= a.label :inside_location %><br />
        <%= a.text_field :inside_location %><br />
        <%= a.label :street_address %><br />
        <%= a.text_field :street_address %><br />
        <%= a.label :city %><br />
        <%= a.text_field :city %><br />
        <%= a.label :state %><br />
        <%= a.text_field :state %><br />
        <%= a.label :zip %><br />
        <%= a.text_field :zip %><br />
        <%= a.label :country %><br />
        <%= a.text_field :country %><br />
    <% end %>

    <h3>Details</h3>
    <table>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <%= f.fields_for :bathroom_specs do |spec| %>
      <tr>
        <td><%= spec.text_field :key %></td>
        <td><%= spec.text_field :value %></td>
      </tr>
    <% end %>
    </table>


    
    <%# if @bathroom.bathroom_photos != [] %>
        <!--<h3>Photos</h3>-->
        <%#= f.fields_for :bathroom_photos do |photo| %>
            <%#= photo.file_field :photo %><br />
        <%# end %>
        
    <%# end %>

    <br/>



    <%= f.submit "Update" %>
<% end %>

<br />

<%= link_to 'Back All Bathrooms', bathrooms_path %>
