<h1>HOME#INDEX</h1>
<p>Find me in app/views/home/index.html.haml</p>
<h1>THIS WILL BE THE HOMEPAGE!</h1>
#user_nav
- if current_user
  = "Signed in as "
  = link_to current_user.email, user_show_path
  = ". Not you?"
  = link_to "Sign out", logout_path
- else
  = link_to "Sign in", login_path

  
