<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jcarousel.min.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery('#carousel').jcarousel();
    jQuery('#g_car').jcarousel();
  });
  function clickclear(thisfield, defaulttext) {
    if (thisfield.value == defaulttext) {
      thisfield.value = "";
    }
  }
  function clickrecall(thisfield, defaulttext) {
    if (thisfield.value == "") {
      thisfield.value = defaulttext;
    }
  }
</script>
<h1>Welcome to Global Flush</h1>
<p>Global Flush is a fun and exciting way to find the best (and worst) bathrooms.</p>
<p>Get started by searching a geographical area or browsing the top rated facilties.</p>
<h3>Find a Bathroom</h3>
<div id="find">

  <% form_tag search_url, :method => 'get' do %>
      <%= text_field_tag :keyword, params[:keyword], :id=> "zip_home" %>
      <%= submit_tag "Search", :name => nil, :id=>"search" %>
  <% end %>
  
  <div class="home_button" id="via_map">via Map</div>
  <div class="home_button" id="via_browse"><%= link_to 'via Browse', bathrooms_url%></div>
</div>
<h3>Top Bathrooms</h3>
<div class="h-car">
  <ul id="carousel" class="h-car">
    <% @bathrooms.each do |bathroom| %>
      <li>
        <% if bathroom.photos.empty? == false %>
          <%= link_to image_tag(bathroom.photos.first.image.url(:small)), bathroom %>
        <% else %>
          <%= link_to image_tag("/images/no_image.png",:width=>240,:height=>160), bathroom %>
        <% end %>
        <div><%= link_to bathroom.title,bathroom %></div>
      </li>
    <% end %>
  </ul>
</div>
<h3>Top Graffiti</h3>
<div class="h-car">
  <ul id="g_car" class="h-car">
    <% @graffiti.each do |graffiti| %>
      <li>
        <% if graffiti.photos.empty? == false %>
          <%= link_to image_tag(graffiti.photos.first.image.url(:small)), graffiti %>
        <% else %>
          <%= link_to image_tag("/images/no_image.png",:width=>240,:height=>160), graffiti %>
        <% end %>
        <div><%= link_to graffiti.name,graffiti %></div>
      </li>
    <% end %>
  </ul>
</div>