<h1>Search Bathrooms</h1>

<%= params.inspect %>
<%= current_keyword = params[:keyword] %>

<div id="search_form">
  <%# form_tag search_url, :method => 'get' do %>
      <%#= text_field_tag :keyword, params[:keyword], :value => current_keyword %>
      <%#= submit_tag "Search", :name => nil %>
  <%# end %>
</div>

    <div id="filter">

      <% form_tag search_url, :method => :get do %>

          <%= text_field_tag :keyword, params[:keyword], :value => current_keyword %><br/>

          Show:
          <%= check_box_tag :male, 1, params[:male] == '1' %>Male
          <%= check_box_tag :female, 1, params[:female] == '1' %>Female<br />

          Sort by: <br />
          Updated at:
          <%= radio_button_tag :sort, 'bathrooms.updated_at DESC', params[:sort] == 'bathrooms.updated_at DESC' %>Most recent
          <%= radio_button_tag :sort, 'bathrooms.updated_at ASC', params[:sort] == 'bathrooms.updated_at ASC' %>Oldest
          <br/>
          
          Ratings:
          <%= radio_button_tag :sort, 'ratings.overall DESC', params[:sort] == 'ratings.overall DESC' %>High to low
          <%= radio_button_tag :sort, 'ratings.overall ASC', params[:sort] == 'ratings.overall ACS' %>Low to high
          <br/>

          Distance:
          <%= radio_button_tag :sort,  'distance DESC', params[:sort] == 'distance DESC'%>Furthest to closest
          <%= radio_button_tag :sort,  'distance ASC', params[:sort] == 'distance ACS' %>Closest to furthest
          <br/>

          <%= submit_tag "Search", :name => nil %>
      <% end %>

    </div>

<% if @bathrooms.empty? %>
    <p>There are no such matching bathrooms. Please try again.</p>
<% else %>



    <div id="bathroom_list">

      <% @bathrooms.each do |bathroom| %>
          <div class="list_item">
            <div class="male">
              <span class="right">Last updated at <%= bathroom.updated_at %></span><%= link_to bathroom.title, bathroom %>
            </div>
            <% if bathroom.photos.empty? %>
                <%= link_to image_tag("/images/no_image.png", :height=>80, :width=>100), bathroom %>
            <% else %>
                <%= link_to image_tag(bathroom.photos.first.image.url(:thumb), :height=>80, :width=>100), bathroom %>
            <% end %>
            <% bathroom.bathroom_specs.each do |spec| %>
                <b><%= spec.key %>:</b> <%= spec.value %>.
            <% end %>

            <% if @is_admin %>
                <%= button_to 'Remove', bathroom_url(bathroom.id), :confirm => 'Are you sure?', :method => :delete  %>
            <% end %>
          </div>

          <div class="clear"></div>
      <% end %>
    </div>

<% end %>
