<h1>Photos for <%= @obj.name %></h1>


<% @photos.each do |photo| %>
    <%= link_to image_tag(photo.image.url(:small)), [photo.imageable, photo] %>
    <% if current_user %>
        <% if current_user.admin %>
            <%= link_to 'Destroy', [photo.imageable, photo], :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
    <% end %>
    <br/>
<% end %>

<% if @photos.empty? then %>
    <p>There are no photos.</p>
<% end %>
<%= link_to "Add Photo", new_polymorphic_path([@obj, Photo.new]) %><br />
<%= link_to "Back to " + @obj.class.to_s, @obj %><br />
