<h1>New Photo for <%= @obj.name %></h1>
 
<% form_for @photo,:html => { :multipart => true } do |f|%>
    <%= f.error_messages %>

    <%= f.hidden_field :imageable_id, :value => @obj.id %>
    <%= f.hidden_field :imageable_type, :value => @obj.class.to_s %>

    <%= f.file_field :image %><br />
    <%= f.submit %>
<% end %>