<!--  BOT -->

<div id="tools">
  <a href="#">Add to Favorites</a> |
  <a href="#">Check In</a> |
  <a href="#">Share</a> |
  <a href="#">Edit Photo</a> |
  <%= link_to "Edit Content", edit_bathroom_path(@bathroom.id) %>
</div>

<div id="big_stars">
  <% s = @bathroom.ratings.collect { |c| c.overall} %>
  <% stars = (s.size == 0 ? 0 : s.sum.to_f / s.size.to_f)*10 %>
  <% tstars = 0 %>
  <% while stars > 10 %>
    <%= image_tag("/images/stars/10.png") %>
    <% stars -= 10 %>
    <% tstars += 1 %>
  <% end %>
  <%= image_tag("/images/stars/" + stars.floor.to_s + ".png") %>
  <% while tstars < 4 %>
    <%= image_tag("/images/stars/0.png") %>
    <% tstars += 1 %>
  <% end %>
</div>

<h1><%= @bathroom.title %> -
  <% if @bathroom.gender == "Male" %>
    &#9794;
  <% elsif @bathroom.gender == "Female" %>
    &#9792;
  <% end %>
</h1>

<div>
  <% @bathroom_photos.each do |bp| %>
    <div>
      <a href="<%= bp.photo.url %>"><%= image_tag bp.photo.url(:small) %></a>
      <%= link_to 'Remove', bp, :method => :delete, :confirm => 'Are you sure?' %>
    </div>
  <% end %>
</div>


<%= link_to 'Add More', new_bathroom_photo_url(@bathroom.id) %>
