<div id="header">
  <img src="/images/logo.png" alt="Global Flush Logo"/>

  <div id="login">
    <!-- <a href="#">Login</a> | <a href="#">Register</a> -->
    <% if current_user %>
        Signed in as <%= link_to current_user.email, user_show_path %> | <%= link_to 'Logout', logout_path %>
    <% else %>
        <%= link_to 'Sign in', login_path %> | <%= link_to 'Register', register_path %>
    <% end %>
  </div>

  <div id="switcher">
    <strong>
      <%= link_to 'Male', :controller => 'home', :action => 'search', :male => 1 %>
    </strong>
    | 
    <%= link_to 'Female', :controller => 'home', :action => 'search', :female => 1 %>
    |
    <%= link_to 'Graffiti',graffiti_index_path %></div>
</div>